* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";

  scroll-behavior: smooth;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins-black-webfont.woff2") format("woff2"),
    url("/fonts/poppins-black-webfont.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("/fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins-extrabold-webfont.woff2") format("woff2"),
    url("/fonts/poppins-extrabold-webfont.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins-extralight-webfont.woff2") format("woff2"),
    url("/fonts/poppins-extralight-webfont.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("/fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("/fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("/fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins-thin-webfont.woff2") format("woff2"),
    url("/fonts/poppins-thin-webfont.woff") format("woff");
  font-weight: 100;
}



.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}

.login-page {
  padding-top: 30px;
}

.login-top {
  background-color: #1A73E8;
  text-align: center;
  padding: 12px 0 48px;
  border-radius: 25px;
  width: 100%;

}

.login-top img {
  max-width: 100px;
}

.login-container {
  width: 83%;
  margin: -48px auto 20px;
  background: white;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 18px 0px #2F2B3D1A;


}

.login-img-text img {
  background: #1A73E8;
  border-radius: 50%;
  padding: 6px;

}

.login-img-text {
  text-align: center;
  border-bottom: 2px dashed rgba(188, 188, 188, 0.34);

}

.login-img-text p {
  color: #1A73E8;
  font-weight: 700;
  font-size: 25px;
  line-height: 45.75px;

}

.login-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  /* padding-top: 30px; */
}

.login-input-p1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 47.74px;
}

.login-form {
  padding-left: 25px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.login-input-1 {
  width: 45%;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #D8DADC;
  padding: 18px 12px;
  border-radius: 10px;
  background-color: #F8F9FB;
  font-size: 16px;
}

.one {
  padding-top: 30px;
}

.remember-forget {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  text-align: center;
}

.login-btn button {
  width: 50%;
  margin-top: 38px;
  padding: 18px;
  background-color: #1A73E8;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
}

.login-btn button a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
}

.orline {
  position: relative;
  background-color: #CFDFE2;
  max-width: 400px;
  height: 2px;
  margin: 18px auto;

}

.orline::after {
  content: "or";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -14px;
  background-color: #fff;
  padding: 4px;
}

.login-type {
  max-width: 300px;
  margin: 0 auto;
}

.type {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  background-color: #F8F9FB;
  padding: 12px 12px 12px 24px;
  border-radius: 10px;
  width: 100%;
  margin: 8px auto;
  gap: 8px;

}

.type p {
  margin-bottom: 0 !important;
}

.privacy span {
  color: #1A73E8;
}

@media screen and (max-width:800px) {
  .remember-forget {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width:600px) {
  .login-input-1 {
    width: 98%;
  }
}

@media screen and (max-width:500px) {
  .login-container {
    width: 85%;
  }
}

@media screen and (max-width:400px) {
  .login-container {
    width: 100%;
  }

  .forget a {
    font-size: 13px;
  }

  .form-check-label {
    font-size: 13px;

  }

  .login-form {
    padding-left: 10px;
    padding-right: 10px;
  }
}